[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations
	commit-style = reverse blue
	minus-style = syntax
	minus-emph-style = reverse red
	minus-empty-line-marker-style = syntax
	plus-style = syntax
	plus-emph-style = reverse cyan
	plus-empty-line-marker-style = syntax
	whitespace-error-style = reverse magenta
	line-numbers-plus-style = bold cyan 
	line-numbers-minus-style = bold red 
	navigate = true
[delta "decorations"]
	commit-decoration-style = bold normal ul
	file-style = bold normal ul
	file-decoration-style = none
